* {
    
}

body {
    display: block;
}

#input1 {
    display: block;
    margin-bottom: 1rem;
}

#input2 {
    display: block;
    margin-bottom: 1rem;
}

#output {
    margin-top: 1rem;
    border: black 2px solid;
    padding: 1rem;
    width: 20%;
}